$yellow = #F5A400;
$blue = #232D6A;
$yellow2 = #FF8100;
$black = #ABB7C2;
$font-default-color = #3B4F62;
$red = #F7604C;
$green = #0CC071;
$border-color = #E5ECF1;
$page-bg = #f2f5fa;
$footer-height = px2rpx(110px);
$gray = #ABB7C2;
$gray2 = #CED1E0;